.model-selector .tree {
    overflow: auto;
    max-height: 50vh;
    border: 1px solid #bbb;
    padding: 10px;
}

.model-selector .buttonOk {
    background-color: steelblue;
    color: #fff;
}

.model-selector .summary:hover {
    background-color: #f6f6f6;
}

.model-selector .icon {
    width: 14px;
    margin: 2px;
}

.model-selector .summary.selected-model {
    background-color: steelblue;
    color: #fff;
}

.model-selector div.children-tree {
    padding-left: 16px;
}
