.model-selector .selector-header {
    padding-bottom: 10px;
    border-bottom: lightgray 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.model-selector .selector-header .search {
    background-color: transparent;
    border: 1px solid gray;
}

.model-selector .tree {
    overflow: auto;
    max-height: 50vh;
}

.model-selector .buttonOk {
    background-color: steelblue;
    color: #fff;
}

.model-selector .summary {
    margin-bottom: 5px;
}

.model-selector .summary:hover {
    background-color: #f6f6f6;
}

.model-selector .icon {
    width: 14px;
    margin: 2px;
}

.model-selector .summary.selected-model {
    background-color: steelblue;
    color: #fff;
}

.model-selector div.children-tree {
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid lightgray;
}
