.divCoverPanel {
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}

.divCoverPanel>div:first-child {
    opacity: 0.5;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.divCoverPanel>div:last-child {
    top: 100px;
    left: 100px;
    width: 200px;
    height: 60px;
    padding: 10px;
}
