body {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.basicbox {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
}

.ide-header {
    left: 4px;
    right: 4px;
    height: 45px;
    top: 4px;
    border: none;
    background-color: rgb(66, 68, 70);
    padding: 6px;
}

.ide-header .appname label {
    color: white;
}

.ide-header .btn-group {
    margin-left: 12px !important;
}

.ide-header .btn {
    color: white;
    padding: 1px 4px 1px 4px !important;
    background-color: rgb(66, 68, 70);
    border-color: rgb(66, 68, 70) !important;
}

.ide-header label {
    padding: 3px 10px 0px 0px;
    color: white;
    font-weight: normal;
}

.ide-header .btn:hover {
    border-bottom-color: white !important;
}

.ide-header .active {
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, .5);
}

.ide-header .btn img {
    width: 24px;
    height: 24px;
}

.ide-main {
    position: absolute;
    left: -1px;
    right: 0px; /* Apparently needed to align properly with header */
    bottom: 38px;
    top: 45px;
    height: auto;
}

.ide-footer {
    border: 1px solid grey;
    left: 4px;
    right: 4px;
    bottom: 4px;
    height: 30px !important;
    padding: 3px;
    text-align: center;
}

.ide-footer .globalWarning {
    position: absolute;
    color: red;
    left: 100px;
    font-weight: bold;
    text-align: center;
}

.ideCaseFooter {
    position: absolute;
    right: 0px;
    display: flex;
    flex-flow: row-reverse;
}

.ideCaseFooter .gridsettings {
    font-weight: normal;
    border-left: 1px solid grey;
    padding-left: 25px;
    right: 25px;
    width: 275px;
}

.ideCaseFooter .gridsettings label {
    font-weight: normal;
    position: relative;
    padding-right: 10px;
}

.ideCaseFooter .gridsettings input {
    position: relative;
    top: 2px;
}

.ideCaseFooter .gridsettings input[type="number"] {
    border: 1px dashed grey;
    width: 40px;
    top: -1px;
    height: 24px;
    text-align: center;
    margin-right: 10px
}

.ideCaseFooter .validatemessage {
    font-weight: normal;
    border-left: 1px solid grey;
    width: 560px;
}

.ideCaseFooter .validatemessage .validateLabel {
    cursor: pointer;
    font-weight: bold;
    color: grey;
    position: relative;
    top: -1px;
}

/* Extra bootstrap css */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Overrules JQuery classes (jquery-ui.css) */
.ui-widget {
    font-family: "myriad-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui-widget button {
    font-family: "myriad-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
