.model-tabs {
    position: absolute;
    float: left;
    left: 3px;
    right: 0px;
    top: 0px;
    height: 20px;
    display: block;
    border-left: 1px solid grey;
    background-color: rgb(66, 68, 70);
}

.model-tab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 2px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: rgb(66, 68, 70);
    color: lightgrey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    height: 20px;
    position: relative;
    white-space: nowrap;
}

.model-tab:last-child {
    border-right: 2px solid grey;  
}

.model-tab.active {
    height: 20px;
    border-top: 2px solid rgb(156, 175, 226);
    padding-top: 0px;
    background-color: rgb(66, 68, 70);
    color: white;
}

.model-tab label {
    transition: 0.3s;
    font-weight: normal;
    cursor: pointer;
    margin-top: 1px;
    margin-right:8px;
}

/* Hide the refresh button when not active, as refreshing invisible models gives weird results */
.model-tab .refreshButton {
    display: none;
}

.model-tab.active .refreshButton {
    display: inline;
}

.model-tab .closeButton {
    padding-right: 2px;
}

.model-tab img {
    position:relative;
    right: 0px;
    width: 9px;
    height: 9px;
    opacity: 75%;
}

.model-tab.active img {
    opacity: 100%;
}
