.horizontal-splitter {
    position: absolute;
    width: 7px;
    height: 100%;
    cursor: ew-resize;
    z-index: 1;
}

.vertical-splitter {
    position: absolute;
    height: 7px;
    width: 100%;
    cursor: ns-resize;
    z-index: 1;
}

.splitter-minimize {
    display: none;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    left: -4px;
    top: 25px;
    position: absolute;
    cursor: pointer;
    background-color: grey;
}

.splitter-minimize img {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
}


.splitter-restore {
    display: none;
    width: 16px;
    height: 16px;
    top: 25px;
    position: absolute;
    cursor: pointer;
    border: 1px solid white;
    background-color: grey;
}

.splitter-restore img {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
}
