.debug-form {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.debug-form .standardformheader {
    text-align: center;
}

.debug-form .standardformcontainer {
    bottom: 0px;
    background-color: #F5F5F5;
}

.debug-form input.caseInstanceId {
    width: 235px;
}

.spanEventListButtons {
    display: none;
}

.spanEventListButtons button {
    height:18px;
    font-size:xx-small;
}

.debug-form .standardformcontainer>div {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.event-container {
    position: absolute;
    top: 65px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.debug-container {
    position: absolute;
    top: 25px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.debug-container .horizontal-splitter {
    background-color: rgb(169, 169, 169);
    width: 3px;
    margin-left: 4px;
}

.event-list {
    position: absolute;
    overflow-y: auto;
}

.event-list table {
    width: 100%;
}

.event-list td {
    border: 1px solid rgb(169, 169, 169);
    padding: 4px;
}

.event-content {
    margin-left: 10px;
    padding-left: 10px;
    position: absolute;
}

.event-content .codeMirrorSource {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid rgb(169, 169, 169);
}

.event-content .codeMirrorSource .CodeMirror {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
}
