.ai-model-editor {
    background-color: #f5f5f5 !important;
    position: absolute;
    /* needed for tabs: | Editor | Source | */
    top: 33px; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
}

.ai-model-editor>div {
    position: absolute;
    left: 10px;
    right: 10px;
}

/*name and description fields*/
.ai-model-editor .modelgenericfields {
    top: 10px;
}

.ai-model-editor .modelgenericfields div label:first-child,
.ai-model-editor .modelgenericfields div input:first-child {
    width: 200px;
}

.ai-model-editor .modelgenericfields div label:last-child,
.ai-model-editor .modelgenericfields div input:last-child {
    width: 417px;
}

.ai-model-editor .ai-model-source {
    top: 255px;
    bottom: 10px;
}

.ai-model-editor .ai-model-source input {
    width: 250px;
}

.ai-model-editor .ai-model-source>div {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid rgb(169, 169, 169);
}

.ai-model-editor .ai-model-source>div>div {
    height: 100%;
}
