.model-editor-base {
    position: absolute;
    top: 20px;
    bottom:0px;
    left:4px;
    right:0px;
    border: 1px;
    font-family: "myriad-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.model-editor-base .model-editor-content {
    position: absolute;
    top: 0px;
    left: -1px;
    right: -1px;
    bottom: 0px;
}

.model-editor-base .model-editor-content>div{
    height:100%;
}
