.trainingform {
    width:660px;
    height:275px;
    top:80px;
    left:200px;
}

.trainingform .standardformcontainer {
    bottom:0px;
    background-color:#F5F5F5;
}

.trainingform .standardformcontainer > div {
    position:absolute;
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
}

.training_content {
    position:relative;
    top:8px;
    bottom:0px;
    left:0px;
    right:0px;
}

.btnAddSetPoint {
    position:relative;
    top:15px;
}

.trainingFormLabel {
    font-size: small;
    margin-bottom: 5px;
}
