/*CSS of the model source editor*/
.model-source-editor {
    background-color: #f5f5f5 !important;
    position: absolute;
    top: 33px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
}

.model-source-label {
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    font-size: larger;
}

.model-source-editor {
    display: none;
}

.model-source-editor>div {
    border: 1px solid rgb(169, 169, 169);
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    height: auto;
}
