
.model-parameters {
    top: 60px;
    position: absolute;
    height: 180px;
    min-width: 640px;
}

.model-parameters>div {
    width: 300px;
    border: 1px solid rgb(169, 169, 169);
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.model-parameters>div:first-child {
    left: 0px;
}

.model-parameters>div:last-child {
    left: 320px;
}

.modelparametertable {
    padding: 10px;
}

.modelparametertable>label {
    display: block;
}

.modelparametertable>button {
    display: inline-block;
    margin: 3px 5px 5px 0px;
}

.modelparametertable>div {
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modelparametertable table colgroup .modelparameterdeletebtcol {
    width: 20px;
}

.modelparametertable table .modelparameternamecol {
    width: 100px;
}

.modelparametertable tbody input.modelparameternamecol {
    width: 86px;
}

.modelparametertable table .modelparametertypecol {
    /* width: 100px; */
    /* height: 19px; */
    margin-left: -8px;
    height: 25.6px;
    margin-top: 2px;
    width: 86px;
    /* margin-left: auto; */
}

.modelparametertable table .modelparameteridcol {
    width: 80px;
}

.modelparametertable tbody tr {
    border-color: none;
}

.modelparametertable tbody button {
    height: 14px;
    width: 14px;
    background-image: url(_images_/close_black_32.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    border: 1px solid grey; /* slightly less visible border color */
}

.modelparametertable td * {
    border: 1px solid rgb(169, 169, 169);
}

.modelparametertable tbody input {
    margin: 1px 4px 1px 0px;
    padding-left: 3px;
}

.modelparametertable tbody input.modelparameteridcol {
    width: 80px;
    background-color: #f5f5f5;
    margin-left: -3px;
}
