.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: auto;
    color: black;
}

.properties {
    background-color: #f5f5f5;
    width: 180px;
}

.properties-footer {
    width: 100%;
    height: 5px;
}

.propertiespin {
    position: absolute;
    right: 20px;
    top: 2px;
    width: 17px;
    height: 17px;
}

.pinned {
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, .5);
    border: 1px solid white;
    top: 1px;
}

.properties-container {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

/* all children have relative positioning */
.properties-container * {
    position: relative;
}

.properties-container .propertyBlock {
    padding: 5px 2px 2px 4px;
    background-color: #f5f5f5;
}

.properties-container .descriptionBlock {
    padding: 8px 16px 8px 12px;
    background-color: #f5f5f5;
}

.properties-container .propertyRow {
    display: block;
}

/* textarea, input (but not checkboxes and radio) and separator bar take full width with a 3px margin left and right */
.properties-container textarea,
.properties-container input,
.properties-container select,
.properties-container .separator {
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

/* checkboxes and radio should not take 100% */
.properties-container input[type="checkbox"],
.properties-container input[type="radio"] {
    width: auto;
}

.properties-container select {
    color: green;
    /* tmp */
}

.properties-container textarea {
    height: 30px;
    border: 1px solid #DDDDDD;
    resize: vertical;
}

/*span for the separator*/
.properties-container .separator {
    display: block;
    margin: 3px;
    height: 1px;
    border-bottom: 1px solid #DDDDDD;
}

.properties-container .propertyRow img {
    height: 16px;
    margin-top: -6px;
}

.btnParameterMapping {
    margin: 5px;
    left: 4px;
}

.properties-container label {
    margin: 2px;
    top: -4px;
}

/* For Item Control rules */
.properties-container .propertyRule {
    padding-left: 2px;
    background-color: #f5f5f5;
}

.properties-container .propertyRule .single {
    height: 18px;
}

.properties-container .propertyRule .multi {
    height: 30px;
}

.properties-container .propertyBlock img {
    width: 20px;
    height: 20px;
}

.cmmn-element-id {
    padding-right: 20px;
    text-align: right;
    font-size: smaller;
    user-select: text;
}

.cmmn-element-documentation {
    background-color: #f5f5f5;
}

.edit-cmmn-documentation {
    background-color: white;
}

.property-expression-language {
    position: absolute;
    right: 6px;
    top: -2px;
    height: 22px;
    width: fit-content;
    padding-bottom: 2px;
}

.show-language-input {
    width: 80px;
}

.custom-language {
    border-bottom: 2px solid rgb(66, 68, 70);
}

.property-expression-language input {
    display: none;
    top: -19px;
    left: 27px;
    width: 50px;
    text-align: right;
}
