.testcase-editor {
    background-color: #f5f5f5 !important;
    position: absolute;
    top: 33px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
}

.teststepvariantview-properties {
    width: 40%;
}
