.testrunnerform {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: auto;
    width: auto;
}

.testrunnerform .formheader {
    border-top-right-radius: 0px !important;
}

.testrunnerform .formheader label {
    cursor: default;
}

.testrunnerform .containerbox {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.testrunnerform .trf-container {
    position: absolute;
    top: 24px;
    left: 4px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.testrunnerform .trf-children-container {
    border-left: 1px dotted #ccc;
    margin-left: 9px;
    padding-left: 7px;
}

.testrunnerform .trf-buttons button {
    margin: 2px;
}

/* Header will not scroll with content container */
.testrunnerform .trf-header {
    position: sticky;
    top: 0px;
    background-color: #f5f5f5;
    height: 21px;
    padding-top: 5px;
    z-index: 1;
}

.testrunnerform .trf-header div {
    padding-left: 3px;
}

.testrunnerform .trf-details {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto 70px 200px;
    border-bottom: 1px solid #eee;
}

.testrunnerform .trf-details .divUsedIn {
    padding: 3px;
    border-left: 1px solid #eee;
}

.testrunnerform .select-container {
    border-left: 1px solid #eee;
}

.testrunnerform select {
    height: 18px;
    width: 100%;
    margin-top: 1px;
    background-color: inherit;
    border: 0px;
    outline: none;
}

.testrunnerform .trf-details .input-name-container {
    position: relative;
    overflow: hidden;
    text-wrap: nowrap;
}

.testrunnerform .trf-details .path,
.testrunnerform .trf-details .result,
.testrunnerform .trf-details .instance {
    height: 18px;
    width: calc(100% - 22px);
    margin: 1px 0px 1px 0px;
    text-overflow: ellipsis;
    background-color: inherit;
    border: 0px;
    padding: 2px;
    outline: none;
}

.testrunnerform .trf-details .result-icon {
    width: 18px;
    
}

.testrunnerform .trf-icon {
    margin-top: -1px;
    height: 18px;
    padding: 2px;
}

.testrunnerform .trf-details .action-icon {
    display: none;
}

.testrunnerform .action-icon-container {
    padding: 1px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.testrunnerform .trf-details:hover .action-icon-container {
    padding-left: 10px;
    background-color: #f6f6f6;
}

.testrunnerform .trf-details.trf-selected:hover .action-icon-container {
    background-color: rgb(156, 175, 226);
}

.testrunnerform .trf-details.trf-selected:hover .action-icon-container {
    background-color: rgb(156, 175, 226);
}

.testrunnerform .trf-details:hover .action-icon {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
}

.testrunnerform .trf-details:hover {
    background-color: #f6f6f6;
}

.testrunnerform .trf-details.trf-selected {
    background-color: rgb(156, 175, 226);
}

.testrunnerform .trf-details img:hover {
    background-color: #ddd;
}
